.container h3 {
    margin: 10px;
}
.container input {
    margin: 10px;
    height: 29px;
    border: 0.5 solid rgba(128, 128, 128, 0.658);
    padding: 9px;
    border-radius: 3px;

}
.container h4 {
    cursor: pointer;
}
.container button {
    background-color: #fded0b;
    padding: 15px;
    margin: 15px;
    border: none;
    border-bottom: 3px solid blue;
    border-radius: 10px;
    font-weight: 600;
    box-shadow: 0px 5px 12px yellow;
    transition: all ease-in-out 300ms;
    color: rgb(13, 13, 110);
}
.container button:hover{
        box-shadow: 0px 5px 12px blue;
    border-bottom: 3px solid #fded0b;
    background-color: blue;
    color: #fded0b;

}