@import "tailwindcss";

html {
  font-family: var(--font-yekan), sans-serif;
}

* {
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
}

a {
  color: inherit;
  text-decoration: none;
}
 input ,button ,select , textarea{
  font-family: inherit;
 }
